<html>
    <head>
        <title>join.html</title>
        <link rel="stylesheet" href="css/formStyle.css">
    </head>
    <body>
        <form action="joinCheck.html" id="joinForm" method="post">
            <fieldset><legend>회원가입</legend><p>
                <div><label for="id" >ID </label>
                <input type = "text" id = "id" name = "id" required>
                <input type = "button" id = "checkId" value="중복체크"></div>
                <div><label for="pw">PW </label>
                <input type = "password" id="pw" name = "pw" required></div>
                <div><label for="checkPw">RE:PW </label>
                <input type = "password" id="checkPw" name = "checkPw" required></div>
                <div><label for="name">이름 </label>
                 <input type = "text" id = "name" name = "name" required></div>
                 <div><label for="firstRrn">주민등록번호</label>
                 <input type = "text" id = "firstRrn" name = "firstRrn" required>
                  - <input type = "password" id = "secondRrn" name = "secondRrn" required></div>
                <input type="submit" value="가입하기" id="submit"><input type="button" value="취소하기" id="cancel">
            </fieldset>
        </form>	
    </body>
</html>